body{
    background-color: #060606;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
div{
    background-color: #F2DA05;
    width: 340px;
    text-align: center;
    border-radius: 10px;

    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;

    padding: 30px;
}
img{
    width: 100px;
    border-radius: 50%;
    border: 5px #060606 solid;
    margin-bottom: 30px;
}
h1{
    margin: 0;
    font-size: 32px;
    font-weight: bold;
    color: #060606;
}
h2{
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    color: #363636;
    margin-bottom: 11px;
}
p{
    font-size: 16px;
    color: #060606;
    margin-bottom: 41px;

}
ul{
    padding: 0;
    list-style: none;
}
li{
    margin-bottom: 5px;
}
li a{
    color: white;
    display: block;
    background-color: #060606;
    border-radius: 3px;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 11px;
    padding-left: 140px;
    padding-right: 140px;

}
ul a:hover{
    background-color: #735703;
}
#link-rodape{
    color: black;
}
#link-rodape:hover{
    font-style: italic;
}
/*MIDIA QUERY*/
@media (max-width: 500px){
    div{
        width: 300px;
    }
    img{
        width: 80px;
    }
    h1{
        font-size: 26px;
    }
}
